<div class="containerDevPage" style="height:800px;" >

<div>
<%= image_tag(asset_path('youth_info.png'), :style => "float:left;") %>
<%= form_for @youth_hacker, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
<div >
<div style="margin-bottom: 100px;"></div>
<br>
<br>
<form align="center" style="padding-top: 45%;">
<div >
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
  <div >
  <%= f.label :gender %>
  <%= f.text_field :gender %>
  </div>
  <div>
  <%= f.label :email_address %>
  <%= f.text_field :address %>
  </div>
  <div>
  <%= f.label :category %>
  <%= f.text_field :category %>
  </div>
 <div >
  <%= f.label :project_name %>
  <%= f.text_field :projectname %>
  </div>

  <%= f.submit "Create" %>
  </div>
<% end %>
</div>
</div>
</form>
</div>
